.curve {
  border-radius: 10px;
}
audio {
  margin-bottom: 2rem;
}
.main-display {
  min-height: 200vh;
  list-style-type: none;
}
.music {
  position: relative;
  width: 25%;
  height: 40px;
  margin-left: 0.8rem;
  margin-top: 7rem;
  outline: none;
  z-index: 0;
}
.imgs {
  display: flex;
  margin-top: 5%;
  margin-left: -1rem;
}
.img {
  width: 50%;
}
.info {
  width: 40%;
}
#slideshow {
  width: 60vw;
  margin-left: 20%;
  margin-top: 2rem;
}

/* side Nav */
#sideNav {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: -200px;
  top: 0;
  background: #606060;
  z-index: 999;
  transition: 1s;
  padding-top: 2rem;
}

nav ul {
  margin-left: -1.8rem;
}
nav ul li {
  list-style: none;
  margin: 20px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

#nav-btn {
  position: fixed;
  top: 4rem;
  left: 0.8rem;
  width: 50px;
  cursor: pointer;
  z-index: 999;
  display: none;
}

/* footer */
#footer {
  height: 22vh;
  margin: 4rem 0 2rem;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left-col {
  margin-top: 2rem;
  flex-basis: 60%;
}
.footer-right-col {
  flex-basis: 40%;
}
.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.link-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
.link-title h4 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.link-title small {
  font-size: 13px;
  color: #777777;
}
.link-title a {
  outline: none;
  cursor: pointer;
}
.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-logo img {
  margin-top: 2rem;
  width: 200px;
}
.footer-logo button {
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 10px;
}

.footer-logo {
  flex-basis: 40%;
  margin-left: 10%;
}

/* social-icons */
.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.social-icons img {
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  h3{
    font-size: small;
  }
  p{
    font-size: xx-small;
  }
  .footer-logo{
    margin-left: 0%;
    margin-bottom: 10%;
  }
  nav ul {
    padding-top: 5rem;
  }
  .music {
    height: 25px;
    width: 80%;
  }
  #nav-btn {
    display: block;
  }
  #header {
    background-image: none;
  }
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .logo {
    width: 70px;
    margin-top: 27px;
  }

  .header-text {
    margin-top: 100px;
  }

  h1 {
    font-size: 25px;
  }
  #nav-btn {
    right: 30px;
    width: 40px;
  }
  .common-btn {
    padding: 10px 16px;
  }
  .social-icons img {
    width: 14px;
    margin: 0 auto 15px;
  }
  .about-left-col,
  .about-right-col {
    flex-basis: 100%;
  }
  .about-text {
    margin-right: 50px 50px 0;
    display: inline-block;
  }

  .about-text h2 {
    margin: 50px 0 10px;
    font-size: 18px;
  }
  .feature-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .course-left-col {
    flex-basis: 100%;
  }
  .course-right-col {
    flex-basis: 100%;
    margin-top: 70px;
  }
  .contact-left-col,
  .contact-right-col {
    flex-basis: 100%;
  }
  .contact-right-col {
    margin-top: 50px;
  }
  .footer-left-col {
    flex-basis: 100%;
  }
  .footer-right-col {
    flex-basis: 100%;
  }
  .link-title {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}
